@import url('https://fonts.googleapis.com/css2?family=Dosis&display=swap');

html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #bfc0ee;
    font-family: 'Dosis', sans-serif;
    }

#modal1 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    background: inherit;
    z-index: 1;
}

.modal1-content {
    max-width: 60%;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.gameboard {
    justify-content: center;
    margin: 2vh;
}

.header-content {
    display: flex;
    width: 70vw;
    justify-content: space-between;
    align-items: center;
    border: 10px red double;
    border-radius: 2vw;
    padding: 1vw;
    margin: 1vh 15vw;
    list-style-type: none;
    line-height: 0;
}

#wins h2, 
#losses h2,
.timer h1 {
    font-size: 3vw;
}

#wins h1,
#losses h1,
.timer h2 {
    font-size: 1.5vw;
}

.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 35vw;
    padding: 0;
    margin: 0;
}

.cards {
    display: flex;
    flex-direction: row;
    border: 2px solid black;
    height: 45%;
    width: 10.5%;
    line-height: 0;
    position: relative;
    margin: .25vw;
    border-radius: .75vw;
    overflow: hidden;
    transition: all .5s ease;
    
    &:hover {
        cursor: pointer;
        transform: scale(1.05);
    }
    &:active {
        transform: scale(.95);
    }
}

.cards.flip {
    transform: rotateY(180deg);
    transition: all .3s ease;
}

.front-of-card, .back-of-card {
    position: absolute;
    height: 100%;
    width: 100%;
    
}

.flip .back-of-card {
    animation: reveal-card 0s ease-in-out 100ms forwards;
}

@keyframes reveal-card {
    from {display: block}
    to {display: none}
}

#results {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 0;
    font-size: 4vw;
}

#results h1 {
    font-size: 5vw;
}

#results h2 {
    font-size: 4vw;
}

#results h3 {
    font-size: 2vw;
}

#results button {
    width: 10vw;
    height: 3vw;
    font-size: 1.5vw;
    font-weight: 700;
}

#open-modal1 {
    margin-top: 20vh;
}







